@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color:#ffc300;
}

header{
  background-color:white;
  padding: 0.75em;
  letter-spacing: 0.1em;
  color: #181938;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 1.75rem;
  letter-spacing: 0.2em; 
}

.nav-sec{
  display: flex;
  gap: 2em;
  align-items: center;
}

.nav-sec ul{
  display: flex;
  gap: 1em;
  align-items: center;
}

.nav-sec ul li{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line{
  padding: 0.045em;
  background-color: white;
  width: 0px;
  transition-property: all;
  transition-duration: 0.7s;

}

.nav-sec ul li:hover > .line{
  background-color: orangered;
  width: 80%;
}

.active>.line{
  background-color: orangered;
  width: 80%;
}

.nav-sec a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.05em;
  font-size: 0.9rem;
  text-align: center;
}

.log-in-btn{
  border: none;
  padding: 0.6rem;
  width: 7rem;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: orangered;
  color: white;
}

.log-in-btn:hover{
  box-shadow: 2px 2px 0 #ffc300, 4px 4px #181938;
}
main{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mock_up{
  width: 45em;
}

.log_in{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.log_in h3{
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 2rem;
  text-align: center;
}

.log_in input[type = "text"], .log_in input[type = "password"], #email{
  border: 2px solid #034efd;
  padding: 0.8em;
  border-radius: 15px;
  width: 300px;
  outline: none;
  box-shadow: 2px 2px 0 #034efd;
}

#logInBtn{
  width: 325px;
  padding: 0.85em;
  border-radius: 15px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: #034efd;
  border: 1px solid #181938;
  transition-duration: 0.5s;
  transition-property: all;
}

#logInBtn:hover{
  box-shadow: 4px 4px 0 #181938;
}

#logInBtn:active{
  box-shadow: 4px 4px 0 #181938
}

footer{
  background-color: #181938;
  color: #ffc300;
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  text-align: center;
  padding-bottom: 2em;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 0.7em;
}

.error{
  color: orangered;
  font-weight: 500;
}

@media (max-width:800px) {
  main{
    flex-direction: column;
    gap: 1em;
    margin-bottom: 5em;
    align-items: center;
  }
  #mock_up{
    width: 17em;
  }

  .logo{
    font-size: 1.2rem;
  }

  .nav-sec a{
    font-size: 0.5rem;
  }

  .log-in-btn{
  border: none;
  padding: 0.6em;
  width: 5rem;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: orangered;
  color: white;
}
.log_in{
  width: 100%;
  display: flex;
}
.log_in input[type = "text"], .log_in input[type = "password"], #email{
  width: 85%;
  margin: 0 auto;
}

a[href="/home.html"]{
  width: 90%;
  margin: 0 auto;

}
#logInBtn{
  width: 100%
}
.check{
  align-self: flex-start;
  padding-left: 2em;
}

}