@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: 'Montserrat', sans-serif;
}

nav{
  display: flex;
  padding: 0.7rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 1.75rem;
  letter-spacing: 0.2em; 
}
.nav-sec{
  display: flex;
  gap: 2em;
  align-items: center;
}

.nav-sec ul{
  display: flex;
  gap: 1em;
  align-items: center;
}

.nav-sec ul li{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line{
  padding: 0.045em;
  background-color: white;
  width: 0px;
  transition-property: all;
  transition-duration: 0.7s;

}

.nav-sec ul li:hover > .line{
  background-color: orangered;
  width: 80%;
}

.active>.line{
  background-color: orangered;
  width: 80%;
}

.nav-sec a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  text-align: center;
}

.log-in-btn{
  border: none;
  padding: 0.6rem;
  width: 7rem;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: orangered;
  color: white;
}

.log-in-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
    }

input[type="checkbox"]{
  display: none;
    }

@media (max-width:800px) {

nav{
 position: fixed;
 background-color: white;
 top: 0;
 z-index: 1;
      }
nav .menu-btn i{
 display: block;
      }
 #click:checked ~ .menu-btn i:before{
 content: "\f00d";
      }
nav .nav-sec{
        position: fixed;
        top:-110%;
        z-index: -1;
        background-color: orangered;
        height: auto;
        width: 100vw;
        text-align: center;
        display: block;
        transition: all 0.5s ease;
      }
      #click:checked ~ .nav-sec{
        top: 3.2em;
      }
      .nav-sec ul{
        display: block;
        margin: 0 auto;
      }
      nav .nav-sec ul li{
        width: 100%;
        margin: 20px 0;
      }
      .line{
        display: none;
      }
       a{
        transition-property: all;
        transition-duration: 0.3s;
        font-weight: 800;
        font-size: 1rem;
      }
      .active a{
        color: #fff;
      }
      #click:checked ~ ul li a{
        margin-left: 0px;
      }
      nav ul li a.active,
      nav ul li a:hover{
        background: none;
        color: white;
        padding: 0;
      }
      nav .menu-btn i{
        color: orangered;
        font-size: 22px;
        cursor: pointer;
        display: contents;
    }
    .log-in-btn{
      font-weight: 700;
      letter-spacing: 0.1em;
      background-color: rgb(249, 136, 95);
      margin-bottom: 2rem;
    }
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 1rem;
  text-align: center;
  gap: 0.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.244), rgba(0, 0, 0, 0.933)), url(../images/home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main h1{
  font-size: 1.5em;
}

main h2{
  font-size: 1rem;
  width: 80%;
}